/* #大屏适配 */
.layout{
    max-width:1280px;
  }

  .aside-content{
    max-width:312px;
    min-width:300px;
}
/* .recent-posts{
  width:auto!important;
} */

@media screen and (max-width: 900px){
    .aside-content{
        max-width:none!important;
    }
}
/* #分页适配 */
/* #archive,#page,#category,#tag{
    width:100%;
}
.page .aside-content{
    display: none;
} */

