/* #大屏适配 */

.layout#content-inner{
    max-width:1400px;
}
#content-inner {
    max-width:1400px;
}

/* .aside-content{
    max-width:312px;
    min-width:300px;
} */
/* .recent-posts{
  width:auto!important;
} */

@media screen and (max-width: 900px){
    .aside-content{
        max-width:none!important;
    }
}
/* #分页适配 */
#archive,#page,#category,#tag{
    width:78%;
}
/* .page .aside-content{
    display: none;
} */


/* 宽度自修改 */
#aside-content {
    width: 22%;
}

.layout > div:first-child {
    width: 78%;
}