/* *********************控制中心音乐********************* */
/* 隐藏原来的Aplayer */
.aplayer-body {
  display: none;
}

#console .console-music-ctrl-item {
  margin: 1rem auto 0 auto;
  width: 18rem;
  height: 30rem;
  border-radius: 1.8rem;
  border: var(--style-border);
  background: var(--card-bg);
  position: fixed;
  top: 50px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
}

#console-music-item-main {
  padding: 1.3rem;
}

#console-music-item-main.item-show, 
#console-music-item-list.item-show, 
#console-music-item-lrc.item-show, 
#console-songsheet-item-list.item-show {
  opacity: 1;
  pointer-events: all;
  transition: all 0.5s;
}
  
  /* 封面 */
  #console-music-cover {
    width: 100%;
    /* height: calc(100% - 12rem); */
    border-radius: 0.5rem;
  }
  
  /* 曲名和作者 */
  #console-music-title,
  #console-music-author {
    width: 100%;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    align-items: center;
  }
  
  #console-music-title {
    height: 2.4rem;
    padding-top: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--anzhiyu-reverse);
  }
  
  #console-music-author {
    height: 1.6rem;
  }
  
  /* 组件外框 */
  .console-progressbar-div {
    width: 100%;
    height: 2rem;
    display: flex;
  }
  
  #console-music-ctrl-btns {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #music-ctrl-first, #music-ctrl-left, #music-ctrl-center, #music-ctrl-right, #music-ctrl-end{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #music-ctrl-btn-first, #music-ctrl-btn-left, #music-ctrl-btn-center, #music-ctrl-btn-right,#music-ctrl-btn-end {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  /* 字色和字号 */
  #music-ctrl-btn-first, #music-ctrl-btn-left, #music-ctrl-btn-right, #music-ctrl-btn-end {
    font-size: 1.5rem;
  }
  
  .console-music-ctrl-item a {
    color: var(--font-color); /*#99a9bf*/
  }
  
  #music-ctrl-btn-center {
    color: var(--anzhiyu-reverse);
    font-size: 2.4rem;
  }
  
  #music-ctrl-btn-first:hover, #music-ctrl-btn-left:hover, #music-ctrl-btn-right:hover, #music-ctrl-btn-end:hover {
    color: var(--anzhiyu-reverse);
  }
  
  #progress-low-btn, #progress-high-btn {
    font-size: 0.7rem;
    color: rgba(136,136,136,0.5);
  }
  
  /* 进度条和音量条 */
  #progress-low, #progress-high {
    width: 2.5rem;
  }
  
  #music-progressbar {
    width: 100%;
  }
  
  #volume-low, #volume-high {
    width: 1.5rem;
  }
  
  #music-volumebar {
    width: 100%;
  }
  
  #progress-low, #progress-high, #music-progressbar, 
  #volume-low, #volume-high, #music-volumebar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #p_bar_bg, #v_bar_bg {
    width: calc(100% - 1rem);
    height: 0.4rem;
    border-radius: 0.3rem;
    background-color: rgba(136, 136, 136, 0.5);
  }
  
  #p_bar, #v_bar {
    width: 0;
    height: 100%;
    border-radius: 0.3rem;
    background-color: var(--font-color);
    transition: background-color 0.5s;
  }
  
  /* 控制中心文本不可选中 */
  #console a, #console span {
    user-select: none;
  }
  
  /* *********************歌单显示********************** */
  .console-list-head {
    width: 100%;
    height: 4rem;
    border-top-left-radius: 1.8rem; /*和外弧度保持一致*/
    border-top-right-radius: 1.8rem; /*和外弧度保持一致*/
    border-bottom: 1px solid var(--vercel-border-color);
    background-color: var(--vercel-background);
    display: flex;
    align-items: center;
    flex-flow: column;
    transition: all 0.5s;
  }
  
  .console-list-foot {
    width: 100%;
    height: 1.8rem; /*和外弧度保持一致*/
    border-bottom-left-radius: 1.8rem; /*和外弧度保持一致*/
    border-bottom-right-radius: 1.8rem; /*和外弧度保持一致*/
    border-top: 1px solid var(--vercel-border-color);
    background-color: var(--vercel-background);
    transition: all 0.5s;
  }
  
  .console-list-body {
    width: 100%;
    height: calc(100% - 5.8rem);
    padding: 0;
  }
  
  #console-music-list, #console-songsheet-list {
    width: 100%;
    height: 100%;
    margin: 0;
    list-style: none; /*消除序号*/
    padding-inline-start: 0;
    overflow-y: auto;
  }
  
  #console-music-list li {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  #console-music-list li:hover {
    background-color: #ece5d8;
  }
  
  /* 隐藏滚动条 */
  #console-music-list::-webkit-scrollbar {display:none}
  
  #console-music-list li:not(:first-child) div.list-music-info2 {
    border-top: 1px solid var(--vercel-border-color);
  }
  
  div.list-music-info1 {
    width: 2rem;
  }
  
  div.list-music-info2 {
    width: calc(100% - 2.5rem);
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #8F999F;
  }
  
  a.list-music-author {
    color: rgb(136,136,136);
    font-size: 0.8rem;
  }
  
  a.list-music-id {
    text-align: center;
    font-size: 0.8rem;
    color: rgb(136,136,136);
    display: block;
  }
  
  a.list-music-id.hide {
    display: none;
  }
  
  a.list-music-state{
    display: none;
    text-align: center;
  }
  
  a.list-music-state.show{
    display: block;
  }
  
  .console-list-head a.headline{
    display: block;
    height: 50%;
    font-size: 1.1rem;
    font-weight: bold;
    padding-top: 0.5rem;
  }
  
  a#music-list-title, a#songsheet-title{
    display: block;
    height: 50%;
    font-size: 0.9rem;
  }
  
  a#music-list-title {
    cursor: pointer;
  }
  
  /* *********************歌单列表*********************** */
  #console-songsheet-list li {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  #console-songsheet-list li:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 3rem;
  }
  
  /* 取消滚动条 */
  #console-songsheet-list::-webkit-scrollbar {display:none}
  
  #console-songsheet-list li:hover {
    background-color: var(--vercel-hover-bg);
  }
  
  #console-songsheet-list li div.songsheet-info2 {
    border-bottom: 1px solid var(--vercel-border-color);
  }
  
  .songsheet-info1 {
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .songsheet-info2 {
    width: calc(100% - 2.5rem);
    padding: 1rem 0;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  
  .list-songsheet-cover {
    height: 4rem;
    width: 4rem;
    border-radius: 0.5rem;
  }
  
  .list-songsheet-title {
    margin-left: 1.5rem;
  }
  
  /* *************加载转圈************* */
  #console-loading-icon {
    width: 35px;
    height: 35px;
    position: fixed;
    top: 50%;
    opacity: 0;
    transition: all 0.1s;
  }
  
  #console-loading-icon.show {
    opacity: 1;
    transition: all 0.1s;
  }
  
  #console-loading-icon i {
    font-size: 1.8rem;
    display: inline-block;
  }
  

  #nav-music-ctrl {
    display: flex;
    margin-right: 1rem;
    z-index: 1;
  }